/* =========================
  README!!!
  If you didn't read the README.md file yet, consider starting there.

  @link https://github.com/Urban-Guacamole/tarea-css-001#readme
  @see README.md
  @package Foxy Mojo 0.1
============================ */

/* =========================
  CSS Variables
  Variable Prefix: "fm"
  @usage style-property: var(--fm-variable-name);
============================ */
:root {
  --fm-blue: #1960ca;
  --fm-green: #00ff9c;
  --fm-grey: #666;
  --fm-dark-grey: #333;
  --fm-dark-txt: #525252;
  --fm-black: #292b2a;
  --fm-warm-white: #f6f6f6;
  --fm-warm-black: #212121;
  --fm-purple: #666686;
}

/* =========================
  Globals -> Custom Reset & Base
  This section extends our "normalizer" (Makes everything look the same on every browser)
  And HERE, we extend it further by adding/removing some DEFAULT styles of our OWN

  Bootstrap already includes Normalize and their own set of base styles
  @see https://getbootstrap.com/docs/5.1/content/reboot/
============================ */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /*
  All browsers default font-size is 16px
  Set OUR base font size to 10px
  Which is 62.5% of 16 (100%)
  */
  font-size: 62.5%;
}

body {
  /*
    Re set default font size to 16px
    10px is too small to read, but perfect for our math using rems
    so instead of (target (px) / 16) we can use (target / 10)
    Example: On a 16px HTML size, to get 24px in rems we do (24 / 16) = 1.5rem
    While if we do it on a 10px base, 24 / 10 = 2.4, meaning 40px would be 4rem.. 20px = 2rem, etc
  */
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  transition: all .2s ease-in-out;
}

button {
  background-color: transparent;
  border: none;
}

ol, ul {
  padding: 0;
}

img {
  max-width: 100%;
}

section {
  padding: 6rem 0;
}

/* =========================
  Globals - Base

  Override Bootrstrap's BackGround classes
  Some classes use the !important flag, because bootstrap uses it in theirs...
  @see https://getbootstrap.com/docs/5.1/customize/overview/
============================ */
.bg-light {
  background-color: var(--fm-warm-white) !important;
}

.bg-purple {
  background-color: var(--fm-purple) !important;
}

.bg-green {
  background-color: var(--fm-green) !important;
}

.bg-grey {
  background-color: var(--fm-grey) !important;
}

/* =========================
  Utility Classes
  Simple classes to be reused instead of needing to add styles for everything
  ========================= */
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.txt-up {
  /* transform-uppercase */
  text-transform: uppercase;
}

.txt-cap {
  /* transform-capitalize */
  text-transform: capitalize;
}

.hidden,
.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

.desktop-only {
  display: none;
}

/* =========================
  Typography
============================ */
.title {
  font-family: 'Gowun Batang', serif;
  font-size: 5.4rem;
  line-height: 1.25;
  font-weight: 700;
  font-style: italic;
  color: var(--fm-dark-grey);
}

.title-lg,
.title-md {
  font-size: 4.6rem;
  line-height: 1.25;
}

.title-sm {
  font-size: 3.6rem;
}

.title-xs {
  font-size: 2.6rem;
}

.title-md {
  font-size: 4.6rem;

}

.title-sm {
  font-size: 3.6rem;
  line-height: 1.15;
}

.title-xs {
  font-size: 2.8rem;
  line-height: 1;
  font-style: normal;
}

.text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  color: var(--fm-dark-grey);
}

/* =========================
  Buttons
============================ */
.button {
  font-family: 'Gowun Batang', serif;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 1;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
  background-color: #fff;
  color: #4d4d4d;
  padding: 1.8rem 5rem;
  border: 1px solid #fff;
  border-radius: 6px;
  display: inline-flex;
  flex-shrink: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button-green {
  background-color: var(--fm-green);
  color: #fff;
  border-color: var(--fm-green);
}

.button:hover {
  color: #fff;
  background-color: #4d4d4d;
  border-color: #4d4d4d;
}

.button-green:hover {
  background-color: #fff;
  color: var(--fm-green);
  border-color: #fff;
}

/* =========================
  Header
============================ */
.header {
  height: 8rem;
  transition: transform 1s ease;
  transform: translateY(0);
  position: absolute;
  top: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: -8rem;
  left: 0;
  transform: translateY(-80px);
  transition: transform 1s ease;
}

.header.fixed {
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateY(8rem);
}

.header-navbar {
  padding: 0;
}

/* This next line is only to be able to override BS styles */
.navbar > .header-inner {
  display: flex;
  justify-content: space-between;
}

.header-logo,
.header-menu,
.header-search {
  flex: 0 1 auto;
}

.header-logo {
  font-size: 2.5rem;
}

.header-search {
  color: #fff;
}

/* Could be replaced by .header-link in own approach */
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2rem 3.5rem;
  transition: all .2 ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--fm-green);
}

.navbar-dark .navbar-nav .nav-link.active {
  background-color: var(--fm-green);
  transform: skew(-10deg);
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link.active:hover {
  color: #fff;
}

/* =========================
  Search Modal Form
============================ */
.search-header {
  padding: 1.5rem 2rem;
}

.search-body {
  padding: 0 2rem;
}

.search-form {
  padding: 2rem 0;
}

.search-form .search-field {
  border: 0;
  background-color: #fff;
  max-width: 100%;
  box-shadow: 0 1px 5px rgb(0 0 0 / 4%), 0 4px 7px rgb(0 0 0 / 8%);
  padding: .8rem 2.1rem;
  height: auto;
  min-height: 4.2rem;
  font-size: 1.6rem;
}

/* Override Bootstrap's floating>label class */
.search-form .search-label {
  padding: 3.2rem 0 0 2.1rem;
}

/*  */
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  font-size: 1.4rem;
  padding: 2rem 0 0 1.2rem;
}

/*  */
.form-floating >.form-control,
.form-floating>.form-select {

}

/* .form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown) {} */

/* =========================
  Hero Banner
============================ */
.hero {
  position: relative;
  height: 100vh;
}

.hero-inner {
  width: 100%;
  max-width: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.hero-title {
  color: var(--fm-green);
}

/* =========================
  Simply Block
============================ */
.simply {
  background: #f6f6f6;
}

.simply-title {
  text-align: center;
  margin-bottom: 6rem;
  color: var(--fm-grey);
  max-width: 46rem;
}

.simply-title-green {
  color: var(--fm-green);
}

.simply-info {
  margin-bottom: 2rem;
}

.simply-author {
  color: #b8b8b8;
}

/* =========================
  Quality Block
============================ */
.quality {
  padding: 14rem 0;
}

.quality-inner {
  max-width: 60rem;
  margin: 0 auto;
  padding: 6rem 0;
}

.quality-title,
.quality-info {
  color: #fff;
}

.quality-title {
  margin-bottom: 4rem;
}

.quality-info {
  margin-bottom: 6rem;
}

/* =========================
  Perfection Block
============================ */
.perfection-intro {
  margin-bottom: 6rem;
}

.perfection-title {
  margin-bottom: 4rem;
}

.perfection-info {
  margin-bottom: 6rem;
}

.perfection-outro {
  padding: 0 1.5rem;
}

.perfection-outro-content {
  padding-left: 5rem;
  margin-bottom: 4rem;
}

/* =========================
  Swiper (Slider sim)
============================ */
.swiper {
  position: relative;
  padding: 0 1.5rem;
}

.swiper-slide-img {
  object-fit: cover;
  /* position: relative;
  z-index: 1; */
}

.swiper-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-prev,
.swiper-next {
  border-radius: 0;
  padding: 2rem 0.5rem;
  /* position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); */
}

.swiper-icon {
  width: 3rem;
  height: auto;
}

/* Traditional approach
.swiper-prev {
  left: 0;
}

.swiper-next {
right: 0;
}
*/

/* =========================
  Subscription
============================ */
.subscribe {
  padding: 2rem 0;
}

.subscribe-inner {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscribe-title {
  color: #333333;
}

/* =========================
  Footer
============================ */
.footer-top {
  background-color: var(--fm-dark-grey);
  padding: 6rem 0;
}

.footer-top-logo {
  margin-bottom: 3rem;
}

.widget-title {
  color: var(--fm-green);
  margin-bottom: 2rem;
}

.widget-menu {
  list-style-type: none;
}

.widget-menu-item {
  margin-bottom: 1rem;
}

.widget-link {
  /* Same as ".text" class - Should be used either on the HTML.. or @extend the class here (sass only) */
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  /* end of extend - now we override .text and add new styles if needed below */
  color: var(--fm-dark-txt);
}

.widget-link:hover {
  color: #fff;
}

.footer-bottom {
  background-color: #2c2c2c;
  padding: 2rem 0;
}

.footer-bottom-copy {
  color: var(--fm-dark-txt);
  margin: 0;
}



/* =========================
  Responsive Styles - Mobile First approach
============================ */
@media screen and (min-width: 1024px) {
  section {
    padding: 10rem 0;
  }

  .desktop-only {
    display: block;
  }

  .title,
  .title-lg {
    font-size: 6.4rem;
  }

  .title-xs {
    font-size: 2.8rem;
  }

  .text {
    font-size: 1.8rem;
  }

  .navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
  }

  .simply-title {
    text-align: left;
  }

  .subscribe-inner {
    max-width: 1320px;
    padding: 0 10rem;
  }
}
